@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/roboto-v18-400.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('webfonts/roboto-v18-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/roboto-v18-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/roboto-v18-400.woff') format('woff'), /* Modern Browsers */
       url('webfonts/roboto-v18-400.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/roboto-v18-400.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  src: url('webfonts/krub-v1-700.eot'); /* IE9 Compat Modes */
  src: local('Krub Bold'), local('Krub-Bold'),
       url('webfonts/krub-v1-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/krub-v1-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/krub-v1-700.woff') format('woff'), /* Modern Browsers */
       url('webfonts/krub-v1-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/krub-v1-700.svg#Krub') format('svg'); /* Legacy iOS */
}
