---
layout: null
---
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="document.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous" />
        <title>Estratègies municipals per l&#39;apoderament digital</title>
    </head>
    <body>
    <div style="page-break-after: always;" class="portada-content">
        <img src='portada.svg' width="100%">
    </div>

    {% include toc.html html=content %}

    {{ content }}

    </div>
</body>
</html>
